<<<<<<< HEAD
.dropdown
{
    
    position: absolute; 
    top: 100%;
    right:0;
=======
.dropdown
{
    
    position: absolute; 
    top: 100%;
    right:0;
>>>>>>> 72b503cdd826ba110024b816ad86b2d978906f18
}